# Android emulator: http://10.0.2.2:5000/api
# iOS simulator/web: http://localhost:5000/api
# Physical device: http://192.168.31.72:5000/api
EXPO_PUBLIC_API_URL=http://192.168.29.243:5000/api/v1
# EXPO_PUBLIC_API_URL=http://localhost:8000/api
